* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 128px;
  background-color: #eee;
  color: #999;
  text-align: center;
  border-bottom: 2px solid #999;
}

header h1 {
  font-size: 48px;
  margin-top: 24px;
}

section {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

table {
  width: 80vw;
  max-width: 1000px;
  margin: 48px auto 0;
  border: 1px solid #999;
  border-collapse: collapse;
}

table * {
  border: 1px solid #999;
}

table tr {
  height: 2em;
}

table .description {
  width: 80%;
}

table tr.clickable:hover {
  background-color: #eeeeff;
  cursor: pointer;
}

div.block {
  border: 1px solid #999;
  border-radius: 8px;
  background-color: #eee;
  width: 800px;
  margin: 8px auto;
  text-align: left;
  padding: 8px 12px;
}

div.block#desc-area {
  /*min-height: 20vh;*/
}
div.block#edit-area {
  min-height: 30vh;
}
div.block#result-area {
  min-height: 15vh;
}

div#editor {
  width: 100%;
  min-height: 30vh;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1) inset;
  background-color: white;
  display: block;
}

td.check span {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  border: none;
  margin: 0 auto;
}
td.check[data-checked="true"] span {
  background-image: url("/static/checked.png");
}
td.check[data-checked="false"] span {
  background-image: url("/static/square.png");
}

#eval-loader {
  height: 0;
  visibility: hidden;
}

#eval-loader.show {
  visibility: visible;
}


.center {
  text-align: center;
}

.modal {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all .3s;
}

.modal.show {
  z-index: 100;
  opacity: 1;
}

.modal-bg {
  display: table-cell;
  z-index: 101;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-window {
  display: block;
  z-index: 102;
  background-color: #eee;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  height: 100px;
  border-radius: 48px;
  border: 4px solid rgba(100, 100, 100, 0.5);
  padding-top: 40px;
}

.loader {
  z-index: 100;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 4em;
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
