<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ question.data.name }} - Lisp Tutor</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/marked.min.js"></script>
  <script src="/static/Storage.js"></script>
  <script src="/static/HttpRequest.js"></script>
  <script src="/static/EvalClient.js"></script>
  <script>
    const QUESTION_PATH = "{{ question.path }}";
    const QUESTION = {
      prepare: "{{ question.data.prepare | safe }}" || null,
      test: {% if question.data.test %} "{{ question.data.test | safe }}" {% else %} null {% endif %},
      expect: {% if question.data.expect %} "{{ question.data.expect | safe }}" {% else %} null {% endif %},
      requirements: {
        symbols: {% if question.data.requirements.symbols %} "{{ question.data.requirements.symbols | safe }}" {% else %} null {% endif %}
      }
    };
    const TITLE = "{{ question.data.name | safe }}";
    const DESCRIPTION = "{{ question.data.content }}";
    const HOST = "{{ host }}";
    const DEBUG = "{{ debug }}" === "T";
  </script>
  <script src="/static/main.js"></script>
</head>
<body>
  <header>
    <h1>Lisp Tutor</h1>
  </header>
  <section class="center">
    <div id="desc-area" class="block">
      <span id="description"></span>
    </div>
    <div id="edit-area" class="block">
      <div id="editor" contenteditable="true" spellcheck="false"></div>
    </div>
    <input id="eval-button" type="button" value="Check" onclick="onclickEvalButton();">
    <div id="result-area" class="block">
      <div id="eval-loader" class="loader center"><span>(</span><span>)</span></div>
      <div id="result"></div>
    </div>
  </section>
</body>
</html>
