<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ question.data.name }} - Lisp Tutor</title>
  <script src="/static/HttpRequest.js"></script>
  <script src="/static/EvalClient.js"></script>
  <script>
    const QUESTION_PATH = "{{ question.path }}";
    const QUESTION = {
      prepare: "{{ question.data.prepare | safe }}" || null,
      test: {% if question.data.test %} "{{ question.data.test | safe }}" {% else %} null {% endif %},
      expect: {% if question.data.expect %} "{{ question.data.expect | safe }}" {% else %} null {% endif %},
      requirements: {
        symbols: {% if question.data.requirements.symbols %} "{{ question.data.requirements.symbols | safe }}" {% else %} null {% endif %}
      }
    };
    let client = new EvalClient("{{ host }}", "user_id", "tutor");
    function send(code, resultElement) {
      client.initialize(["cl-exercise"])
        .then(() => {
          client.eval(code)
            .then(res => {
              let result = res.result;
              console.log(res);
              resultElement.innerHTML = `<p>${result.returnValue}</p><pre>${result.output}</pre>`
            })
            .catch(err => {
              console.log(err);
            })
        })
    }
    function onclickEvalButton() {
      let editor = document.getElementById("editor");
      let result = document.getElementById("result");
      send(editor.value, result);
    }
  </script>
</head>
<body>
  <h2>{{ question.data.name }}</h2>
  <p>{{ question.data.content }}</p>
  <section>
    <div id="cell">
      <textarea id="editor"></textarea>
      <div id="result"></div>
    </div>
    <input id="eval-button" type="button" value="Check" onclick="onclickEvalButton();">
  </section>
</body>
</html>
