{% extends "noheader.html" %}
{% block title %}{{ question.data.name }} - Lisp Tutor{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/static/codemirror.css">
  <script src="/static/marked.min.js"></script>
  <script src="/static/codemirror.js"></script>
  <script src="/static/commonlisp.js"></script>
  <script src="/static/Storage.js"></script>
  <script src="/static/HttpRequest.js"></script>
  <script src="/static/EvalClient.js"></script>
  <script>
    const QUESTION_PATH = "{{ question.path }}";
    const QUESTION = {
      media: "{{ question.data.media | safe }}" || null,
      prepare: "{{ question.data.prepare | safe }}" || "",
      test: {% if question.data.test %} "{{ question.data.test | safe }}" {% else %} null {% endif %},
      expect: {% if question.data.expect %} "{{ question.data.expect | safe }}" {% else %} null {% endif %},
      requirements: {
        symbols: {% if question.data.requirements.symbols %} "{{ question.data.requirements.symbols | safe }}" {% else %} null {% endif %}
      }
    };
    const TITLE = "{{ question.data.name | safe }}";
    const DESCRIPTION = "{{ question.data.description }}";
    const CONTENT = "{{ question.data.content }}";
    const HOST = "{{ host }}";
    const DEBUG = "{{ debug }}" === "T";
  </script>
  <script src="/static/main.js"></script>
{% endblock %}
{% block content %}
  <div class="modal">
    <div class="modal-background" style="background-color: rgba(0,0,0,0.5);"></div>
    <div class="modal-content">
      <article class="message is-success is-large">
        <div class="message-header">
          <p>正解</p>
        </div>
        <div class="message-body has-text-centered">
          <a href="/">&lt;&lt;問題一覧へ戻る</a>
        </div>
      </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <style>
    #media-area{position:relative;padding-top:56.25%;margin-bottom:24px;}
    #media-area .media{position:absolute;top:0;right:0;width:100% !important;height:100% !important;}
  </style>
  <section class="section" style="flex: 1;">
    <div class="columns is-centered">
      <div class="column is-8">
        <div id="media-area"></div>
        <div id="desc-area" class="box">
          <div id="title" class="content"></div>
          <div id="description" class="content"></div>
        </div>
        <div id="quest-area" class="box">
          <div id="question" class="content"></div>
        </div>
        <div id="edit-area" class="box" style="padding: 0;">
          <style>.CodeMirror-scroll{min-height: 150px;}</style>
          <textarea id="editor"></textarea>
        </div>
        <div style="text-align:center;">
          <button id="eval-button" class="button is-primary is-outlined is-medium" onclick="onclickEvalButton();" style="margin-bottom: 1em;">Check</button>
        </div>
        <div id="result-area" class="box">
          <div id="result" class="content"></div>
        </div>
        <div style="text-align:center;">
          <a href="/">&lt;&lt; 問題一覧へ戻る</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
