<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Lisp Tutor</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Lisp Tutor</h1>
  </header>
  <section>
    <table>
      <caption>
        <th>No.</th>
        <td>Check</td>
        <td>目標</td>
      </caption>
      <colgroup span="2"></colgroup>
      <colgroup span="1" class="description"></colgroup>
      {% for q in questions %}
        <tr class="clickable" onclick="location.href='/ex/{{ q.path }}'">
        <th>{{ forloop.counter }}</th>
        <td>{{ q.check }}</td>
        <td>{{ q.data.description }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</body>
</html>
