<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Lisp Tutor</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/Storage.js"></script>
  <script>
    window.onpageshow = () => {
      let checkElements = document.getElementsByClassName("check");
      for (let checkElement of checkElements) {
        console.log(checkElement);
        let check = ExerciseStorage.getCheck(checkElement.dataset.checkId);
        if (check) {
          checkElement.dataset.checked = "true";
        } else {
          checkElement.dataset.checked = "false";
        }
      }
    }
  </script>
</head>
<body>
  <header>
    <h1>Lisp Tutor</h1>
  </header>
  <section>
    <table>
      <caption>
        <th>No.</th>
        <td>Check</td>
        <td>目標</td>
      </caption>
      <colgroup span="2"></colgroup>
      <colgroup span="1" class="description"></colgroup>
      {% for q in questions %}
        <tr class="clickable" onclick="location.href='/ex/{{ q.path }}'">
        <th>{{ forloop.counter }}</th>
        <td class="check" data-checked="false" data-check-id="{{ q.path }}"><span></span></td>
        <td>{{ q.data.purpose }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
</body>
</html>
